/*reset*/
body, h1, h2, li, ul,article,aside,nav, div,span, p, footer, input, span, button,dl,dd,dt,section,header {
        padding: 0;
        margin: 0;
        -webkit-text-size-adjust: none;
        outline: none;
    }
    html {
        font-size: 100px;
        color:#000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-smoothing: antialiased;
        font-family: "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    }
    html, body {
        position: relative;
        height: 100%;
    }
    img{
        border: none;
    }
    /*去除苹果浏览器按钮默认ui处理*/
    input[type="text"],
    input[type="submit"],
     input[type="reset"],
     input[type="button"],
     button {
     -webkit-appearance: none;
     outline: none;
     }
     .clearfix:after{ content:"."; display:block; height:0; clear:both; overflow:hidden;}
    .clearfix{ zoom:1;}
/*swiper*/
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #ccc;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
/*main    */
    #page1{
        background:#f00;
        background-size: 100% 100%;
    }
    #page2{
        background:#ccc;
        background-size: 100% 100%;
    }
    #page3{
        background:#666;
        background-size: 100% 100%;
    }
    #page4{
        background:#111;
        background-size: 100% 100%;
    }
    .section1{
        height: 100%;
        position: relative;
    }
    
    @keyframes up{
        0%{ transform:translateY(100%);  opacity: 0;}
        100%{ transform:translateY(0); opacity: 1; }
    }
    @-webkit-keyframes up{
        0%{ -webkit-transform:translateY(100%);  opacity: 0;}
        100%{ -webkit-transform:translateY(0); opacity: 1; }
    }
    @-moz-keyframes up{
        0%{ -moz-transform:translateY(100%);  opacity: 0;}
        100%{ -moz-transform:translateY(0); opacity: 1; }
    }
    @keyframes down{
        0%{ transform:translateY(-100%);  opacity: 0;}
        100%{ transform:translateY(0); opacity: 1; }
    }
    @-webkit-keyframes down{
        0%{ -webkit-transform:translateY(-100%);  opacity: 0;}
        100%{ -webkit-transform:translateY(0); opacity: 1; }
    }
    @-moz-keyframes down{
        0%{ -moz-transform:translateY(-100%);  opacity: 0;}
        100%{ -moz-transform:translateY(0); opacity: 1; }
    }



/*end*/

@keyframes myfirst
{
from {right:-4rem;}
to {right:0rem;}
}
@-moz-keyframes myfirst
{
from {right:-4rem;}
to {right:0rem;}
}

@-webkit-keyframes myfirst
{
from {right:-4rem;}
to {right:0rem;}
}

@-o-keyframes myfirst
{
from {right:-4rem;}
to {right:0rem;}
}

@keyframes mylast
{
from {transform: scale(0)}
to {transform: scale(1)}
}
@-moz-keyframes mylast
{
from {transform: scale(0)}
to {transform: scale(1)}
}
@-webkit-keyframes mylast
{
from {transform: scale(0)}
to {transform: scale(1)}
}

@-o-keyframes mylast
{
from {transform: scale(0)}
to {transform: scale(1)}
}
/* page4 end*/

@-webkit-keyframes dd02{
    0%{
     -webkit-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -webkit-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-moz-keyframes dd02{
    0%{
     -moz-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -moz-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-o-keyframes dd02{
    0%{
     -o-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -o-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-ms-keyframes dd02{
    0%{
     -ms-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -ms-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@keyframes dd02{
    0%{
     transform:skew(-5deg,-5deg);
    }
    100%{
     transform:skew(0deg,0deg);
     opacity: 1;
    }
}
.swiper-slide-active .page2-con-l .page2-con-list:nth-child(2){
    -webkit-animation:dd03 1s ease-out 0.5s 1 both;
    -moz-animation:dd03 1s ease-out 0.5s 1 both;
    -o-animation:dd03 1s ease-out 0.5s 1 both;
    -ms-animation:dd023 1s ease-out 0.5s 1 both;
    animation:dd03 1s ease-out 0.5s 1 both;

    -moz-transform:skew(-5deg,-5deg);
    -webkit-transform:skew(-5deg,-5deg);
    -o-transform:skew(-5deg,-5deg);
    -ms-transform:skew(-5deg,-5deg);
    transform:skew(-5deg,-5deg);
    opacity: 0;
}
@-webkit-keyframes dd03{
    0%{
     -webkit-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -webkit-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-moz-keyframes dd03{
    0%{
     -moz-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -moz-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-o-keyframes dd03{
    0%{
     -o-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -o-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-ms-keyframes dd03{
    0%{
     -ms-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -ms-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@keyframes dd03{
    0%{
     transform:skew(-5deg,-5deg);
    }
    100%{
     transform:skew(0deg,0deg);
     opacity: 1;
    }
}
.swiper-slide-active .page2-con-l .page2-con-list:nth-child(3){
    -webkit-animation:dd04 1s ease-out 1s 1 both;
    -moz-animation:dd04 1s ease-out 1s 1 both;
    -o-animation:dd04 1s ease-out 1s 1 both;
    -ms-animation:dd04 1s ease-out 1s 1 both;
    animation:dd04 1s ease-out 1s 1 both;

    -moz-transform:skew(-5deg,-5deg);
    -webkit-transform:skew(-5deg,-5deg);
    -o-transform:skew(-5deg,-5deg);
    -ms-transform:skew(-5deg,-5deg);
    transform:skew(-5deg,-5deg);
    opacity: 0;
}
@-webkit-keyframes dd04{
    0%{
     -webkit-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -webkit-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-moz-keyframes dd04{
    0%{
     -moz-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -moz-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-o-keyframes dd04{
    0%{
     -o-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -o-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@-ms-keyframes dd04{
    0%{
     -ms-transform:skew(-5deg,-5deg);
     opacity: 0;
    }
    100%{
     -ms-transform:skew(0deg,0deg);
     opacity: 1;
    }
}
@keyframes dd04{
    0%{
     transform:skew(-5deg,-5deg);
    }
    100%{
     transform:skew(0deg,0deg);
     opacity: 1;
    }
}
/*第2页 e*/

/*提示滑动icon s*/
.swiper-slide-active .next{
    position: absolute;
    bottom: 0px; 
    width: 10px;
    height: 27px;
    left: 50%; margin-left: -5px;
    z-index: 99999;
    background: url(../img/next.png) no-repeat center top;
    -webkit-animation:dd01 1s ease-out 0s infinite both;
    -moz-animation:dd01 1s ease-out 0s infinite both;
    -o-animation:dd01 1s ease-out 0s infinite both;
    -ms-animation:dd01 1s ease-out 0s infinite both;
    animation:dd01 1s ease-out 0s infinite both;
}
@-webkit-keyframes dd01{
    0%{bottom: 0px; }
    100%{bottom: 10px; }
}
@-moz-keyframes dd01{
    0%{bottom: 0px; }
    100%{bottom: 10px; }
}
@-o-keyframes dd01{
    0%{bottom: 0px; }
    100%{bottom: 10px; }
}
@-ms-keyframes dd01{
    0%{bottom: 0px; }
    100%{bottom: 10px; }
}
@keyframes dd01{
    0%{bottom: 0px; }
    100%{bottom: 10px; }
}
/*提示滑动icon s*/
